@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

body {
  background-color: black;
  font-family: 'Rubik Mono One';
  width: 100%;
  color: white;
  font-size: 0.8em;
}


.game-title {
  font-size: 55px;
  color: rgb(20, 151, 64);
  text-align: center;
  font-family: cursive;
  animation:game-title 1s ease-in-out infinite alternate;
}

@keyframes game-title {
  from {
    text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #e60073,
    0 0 20px #e60073,
    0 0 25px #e60073, 
    0 0 30px #e60073,
    0 0 35px #e60073,
    0 0 40px #e60073;
  }

  to {
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #ff4da6,
    0 0 15px #ff4da6,
    0 0 20px #ff4da6, 
    0 0 25px #ff4da6, 
    0 0 30px #ff4da6,
    0 0 35px #ff4da6,
    0 0 40px #e60073;
  }
}
